extends ../layout/index

block contenido
    div.py-10
        h2.text-center.text-2xl.font-extrabold.my-10 Bienes
            span.font-normal Raices

        h2.text-center.text-xl.font-extrabold= namePage
            
        p.text-xl.font-bold.text-center.my-10= message